# Cloudflare R2
R2_PUBLIC_URL=https://pub-cdc8320e15f144d09aa5d89f402c22d0.r2.dev

# Email — pick one and uncomment
RESEND_API_KEY=re_xxxx
# SENDGRID_API_KEY=SG.xxxx

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_xxxx
STRIPE_SECRET_KEY=sk_live_xxxx

# PayPal
NEXT_PUBLIC_PAYPAL_CLIENT_ID=xxxx
